<div fxLayout="row wrap">
    <div fxFlex="100" class="p-2"> 
        <mat-card class="p-0 chat">
            <mat-sidenav-container autosize>
              <mat-sidenav #sidenav [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'" class="chat-sidenav mat-elevation-z1">
                  <mat-toolbar color="primary" class="p-0" fxLayout="row" fxLayoutAlign="space-between center">
                      <mat-list class="p-0">
                          <mat-list-item>
                              <img matListItemAvatar [src]="userImage">
                          </mat-list-item>
                      </mat-list>
                      <button mat-icon-button [matMenuTriggerFor]="userMenu" #userMenuTrigger="matMenuTrigger">
                          <mat-icon>more_vert</mat-icon>
                      </button>                                     
                  </mat-toolbar>
                  <mat-menu #userMenu="matMenu" xPosition="before" overlapTrigger="true">
                      <span (mouseleave)="userMenuTrigger.closeMenu()">
                          <button mat-menu-item>
                              <mat-icon>account_circle</mat-icon>
                              <span>Profile</span>
                          </button>
                          <button mat-menu-item>
                              <mat-icon>settings</mat-icon>
                              <span>Settings</span>
                          </button>
                          <a mat-menu-item routerLink="/"> 
                              <mat-icon>power_settings_new</mat-icon>
                              <span>Exit chat</span>
                          </a>
                      </span>
                  </mat-menu> 
                  <mat-nav-list class="p-0 chat-sidenav-list">
                        <ng-scrollbar orientation="vertical">
                            @for (chat of chats; track chat) { 
                                <mat-list-item (click)="getChat(chat)">
                                    <img matListItemAvatar [src]="chat.image">
                                    <h6 matListItemTitle> {{chat.author}} </h6>
                                    <p matListItemLine fxLayout="row" fxLayoutAlign="none center" class="muted-text pt-1"> 
                                        <mat-icon class="chat-status-icon">
                                            @switch (chat.authorStatus) {
                                                @case ('Online') { 
                                                    check_circle
                                                }
                                                @case ('Offline') { 
                                                    highlight_off
                                                }
                                                @case ('Away') { 
                                                    schedule 
                                                }
                                                @case ('Do not disturb') { 
                                                    not_interested 
                                                } 
                                            } 
                                        </mat-icon>
                                        <span class="author-status">{{chat.authorStatus}}</span> 
                                    </p>
                                </mat-list-item>
                            }
                        </ng-scrollbar>
                  </mat-nav-list>
              </mat-sidenav>
            
              <div>
                  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
                      <div fxLayout="row" fxLayoutAlign="start center">
                          <button mat-icon-button (click)="sidenav.toggle()">
                              <mat-icon>list</mat-icon>
                          </button>
                          @if (currentChat) {
                            <mat-list class="p-0">
                                <mat-list-item>
                                    <img matListItemAvatar [src]="currentChat.image">
                                </mat-list-item>
                            </mat-list>
                            <span class="author-name">{{currentChat.author}}</span>
                          }                         
                      </div>
                      <button mat-icon-button [matMenuTriggerFor]="personMenu" #personMenuTrigger="matMenuTrigger">
                          <mat-icon>more_vert</mat-icon>
                      </button> 
                  </mat-toolbar>
                  <mat-menu #personMenu="matMenu" xPosition="before" overlapTrigger="true">
                      <span (mouseleave)="personMenuTrigger.closeMenu()">
                          <button mat-menu-item>
                              <mat-icon>account_circle</mat-icon>
                              <span>Contact info</span>
                          </button>
                          <button mat-menu-item>
                              <mat-icon>volume_mute</mat-icon>
                              <span>Mute</span>
                          </button>
                          <button mat-menu-item> 
                              <mat-icon>delete_forever</mat-icon>
                              <span>Clear chat</span>
                          </button>
                      </span>
                  </mat-menu> 
                  <div class="chat-content">
                    <ng-scrollbar orientation="vertical">
                        @if (talks) {
                            <mat-list class="p-0">
                                @for (talk of talks; track talk) {
                                    <mat-list-item class="talk-item">
                                        <img matListItemAvatar [src]="talk.image">
                                        <p class="message">
                                            <span [ngClass]="(talk.my) ? 'bg-primary' : 'bg-accent'">{{talk.text}}</span>
                                        </p>                             
                                        <p class="message-date">
                                            <small>{{talk.date | date:"dd MMMM, yyyy 'at' HH:mm"}}</small>
                                        </p> 
                                    </mat-list-item>
                                }                                
                            </mat-list>
                        } @else {
                            <div fxLayout="column" fxLayoutAlign="center center" class="h-100 empty">
                                <mat-icon>chat</mat-icon>            
                                <p>Select a interlocutor for talk</p>
                            </div> 
                        } 
                    </ng-scrollbar>
                  </div>
                  <mat-divider></mat-divider>
                  <mat-card class="chat-actions"> 
                      <div fxLayout="row" fxLayoutAlign="space-between start">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Enter your text..." (keyup)="sendMessage($event)" [(ngModel)]="newMessage">
                          </mat-form-field>
                          <div fxLayout="row" fxLayoutAlign="center center">
                              <button mat-icon-button type="button" class="mx-2">
                                  <mat-icon>attach_file</mat-icon>
                              </button>
                              <button mat-mini-fab color="primary" type="button" (click)="sendMessage($event)">
                                  <mat-icon>send</mat-icon>
                              </button>
                          </div>
                        </div>
                  </mat-card>
              </div>
            
            </mat-sidenav-container>
        </mat-card>
      </div>
</div>
