<div class="p-2">
    <mat-card>
        <mat-card-header>                
            <mat-card-title>Checkbox configuration</mat-card-title>
        </mat-card-header>
        <mat-card-content class="pt-3">
            <section class="py-1">
                <mat-checkbox [(ngModel)]="checked" class="mx-1">Checked</mat-checkbox>
                <mat-checkbox [(ngModel)]="indeterminate" class="mx-1">Indeterminate</mat-checkbox>
            </section>
            <section class="py-1">
                <label>Label position:</label>
                <mat-radio-group [(ngModel)]="labelPosition">
                    <mat-radio-button value="after" class="mx-1">After</mat-radio-button>
                    <mat-radio-button value="before" class="mx-1">Before</mat-radio-button>
                </mat-radio-group>
            </section>
            <section class="py-1">
                <mat-checkbox [(ngModel)]="disabled">Disabled</mat-checkbox>
            </section>
            <mat-divider></mat-divider>
            <h2 class="py-2">Result</h2>
            <section class="py-1">
                <mat-checkbox
                    [(ngModel)]="checked"
                    [(indeterminate)]="indeterminate"
                    [labelPosition]="labelPosition"
                    [disabled]="disabled">
                    I'm a checkbox
                </mat-checkbox>
            </section>               
        </mat-card-content>
    </mat-card>
</div>  