<div fxLayout="row wrap" fxLayout.xs="column" [dragula]="'bag-container'">
    @for (icon of icons; track icon) {
        <div fxFlex="33.3" class="p-2"> 
            <mat-card class="draggable">            
                <mat-card-header fxLayoutAlign="center">
                    <mat-card-subtitle fxLayoutAlign="center">
                        <mat-icon class="icon-lg">{{icon}}</mat-icon>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="text-center pt-3">
                    There's also the possibility of moving elements around in the same container, changing their position.
                </mat-card-content>           
            </mat-card>
        </div>
    }    
</div>
<div fxLayout="row">
    <div fxFlex="50" class="p-2">
        <mat-card>            
            <mat-card-header fxLayoutAlign="center">
                <mat-card-title fxLayoutAlign="center">First Container</mat-card-title>
            </mat-card-header>
            <mat-card-content [dragula]="'bag-1'" class="bag pt-3">
                @for (color of colors; track color) {
                    <mat-card [class.bg-primary]="color=='primary'" [class.bg-accent]="color=='accent'" [class.bg-warn]="color=='warn'" class="draggable p-3">
                        You can move these elements between these two containers
                    </mat-card> 
                }                
            </mat-card-content>           
        </mat-card> 
    </div>
    <div fxFlex="50" class="p-2"> 
        <mat-card>            
            <mat-card-header fxLayoutAlign="center">
                <mat-card-title fxLayoutAlign="center">Second Container</mat-card-title>
            </mat-card-header>
            <mat-card-content [dragula]="'bag-1'" class="bag pt-3">
                @for (color of colors; track color) {
                    <mat-card [class.bg-primary]="color=='primary'" [class.bg-accent]="color=='accent'" [class.bg-warn]="color=='warn'" class="draggable p-3">
                        You can move these elements between these two containers
                    </mat-card>   
                }              
            </mat-card-content>          
        </mat-card> 
    </div>
</div>