<div class="p-2">
    <mat-card>
        <mat-card-header fxLayoutAlign="center">                
            <mat-card-title>Tooltip Overview</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center" class="pt-3">
            <div matTooltip="Tooltip!" [matTooltipPosition]="position">
                <span class="m-1">Show tooltip</span>
                <mat-form-field>
                    <mat-select [(ngModel)]="position">
                        <mat-option value="before">Before</mat-option>
                        <mat-option value="after">After</mat-option>
                        <mat-option value="above">Above</mat-option>
                        <mat-option value="below">Below</mat-option>
                        <mat-option value="left">Left</mat-option>
                        <mat-option value="right">Right</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>
</div> 