<div fxLayout="row wrap">
    <div fxFlex="100" class="p-2"> 
        <mat-card class="p-0 mailbox">
            <mat-sidenav-container autosize>
                <mat-sidenav #sidenav [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'" class="mailbox-sidenav mat-elevation-z1">
                    <mat-toolbar color="primary" class="p-0" fxLayout="row" fxLayoutAlign="space-between center">
                        <input [(ngModel)]="searchText" type="text" placeholder="Search mail..." class="search mat-elevation-z3">
                        <button mat-icon-button [matMenuTriggerFor]="filterMenu" #filterMenuTrigger="matMenuTrigger">
                            <mat-icon>more_vert</mat-icon>
                        </button>                                     
                    </mat-toolbar>
                    <mat-menu #filterMenu="matMenu" xPosition="before" overlapTrigger="true">
                        <span (mouseleave)="filterMenuTrigger.closeMenu()">
                            <button mat-menu-item (click)="type = 'all';getMails();">All</button>
                            <button mat-menu-item (click)="type = 'starred';getMails();">Starred</button>
                            <button mat-menu-item (click)="type = 'sent';getMails();">Sent</button>
                            <button mat-menu-item (click)="type = 'drafts';getMails();">Drafts</button>
                            <button mat-menu-item (click)="type = 'trash';getMails();">Trash</button>
                        </span>
                    </mat-menu> 
                    <mat-nav-list class="p-0 mailbox-sidenav-list">
                        <ng-scrollbar orientation="vertical">
                            @for (mail of mails | MailSearch : searchText; track mail.id) {
                                <div (click)="viewDetail(mail)">
                                    <mat-list-item [ngClass]="{'unread': mail.unread, 'selected': mail.selected}">
                                        @if (mail.senderPhoto) {
                                            <img matListItemAvatar [src]="mail.senderPhoto">
                                        } @else {
                                            <img matListItemAvatar src="img/users/default-user.jpg">
                                        }
                                        <div matListItemTitle>                                      
                                            <span class="text-truncate sender">{{mail.sender}}</span>
                                            <small>{{mail.date}}</small>
                                        </div>
                                        <div matListItemLine class="text-truncate subject">{{mail.subject}}</div>
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                </div> 
                            }                            
                        </ng-scrollbar>                       
                    </mat-nav-list>
                </mat-sidenav>              
                <div>
                    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <button mat-icon-button (click)="sidenav.toggle()">
                                <mat-icon>list</mat-icon>
                            </button>
                            @if (mail && type !='trash') {
                                <button mat-icon-button matTooltip="Reply" matTooltipPosition="above">
                                    <mat-icon>reply</mat-icon>
                                </button>
                            }
                            @if (newMail) {
                                <button mat-icon-button (click)="newMail = false;" matTooltip="Back" matTooltipPosition="above">
                                    <mat-icon>arrow_back</mat-icon>
                                </button>
                            }
                            @if (mail && type !='trash') {
                                <button mat-icon-button (click)="changeStarStatus()" matTooltip="Mark as inportant" matTooltipPosition="above" fxShow="false" fxShow.gt-xs>
                                    <mat-icon>{{ mail.starred ? 'star' : 'star_border' }}</mat-icon>
                                </button> 
                            }
                            @if (mail && type=='trash') {
                                <button mat-icon-button (click)="restore()" matTooltip="Restore" matTooltipPosition="above">
                                    <mat-icon>undo</mat-icon>
                                </button>
                            }
                            @if (mail) {
                                <button mat-icon-button matTooltip="Report spam" matTooltipPosition="above" fxShow="false" fxShow.gt-xs>
                                    <mat-icon>error</mat-icon>
                                </button>   
                            }
                            @if (mail && type !='trash') {
                                <button mat-icon-button (click)="delete()" matTooltip="Move to trash" matTooltipPosition="above">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            }  
                            <button mat-icon-button [matMenuTriggerFor]="moreMenu" #moreMenuTrigger="matMenuTrigger" [style.display]="(mail) ? 'block' : 'none'">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </div>
                        <button mat-raised-button color="warn" (click)="compose()">Compose</button>
                    </mat-toolbar>
                    <mat-menu #moreMenu="matMenu" xPosition="before" overlapTrigger="true">
                        <span (mouseleave)="moreMenuTrigger.closeMenu()">
                            <button mat-menu-item (click)="setAsRead()">Mark as read</button>
                            <button mat-menu-item (click)="setAsUnRead()">Mark as unread</button>
                            <button mat-menu-item (click)="delete()">Delete</button>
                        </span>
                    </mat-menu>
                    <div class="mailbox-content">
                        <ng-scrollbar orientation="vertical">
                            @if (mail) {
                                <div>
                                    <mat-list class="p-0">
                                        <mat-list-item class="h-100 py-3">
                                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                                <h2 class="subject">{{mail.subject}}</h2>
                                                <mat-icon class="muted-text">print</mat-icon>
                                            </div>                                    
                                        </mat-list-item>
                                        <mat-divider></mat-divider> 
                                        <mat-list-item class="h-100 py-3">
                                            @if (mail.senderPhoto) {
                                                <img matListItemAvatar [src]="mail.senderPhoto">
                                            } @else {
                                                <img matListItemAvatar src="img/users/default-user.jpg">
                                            } 
                                            <div matLine fxLayout="row" fxLayoutAlign="space-between center">
                                                <span>
                                                    <strong class="text-truncate">{{mail.sender}}</strong>
                                                    @if (mail.senderMail) {
                                                        <span class="email">&lt;{{mail.senderMail}}&gt;</span>
                                                    }                                                   
                                                </span>
                                                <span>{{mail.date}}</span>
                                            </div>
                                            <span matLine>to me</span>
                                        </mat-list-item>
                                        <mat-divider></mat-divider>
                                    </mat-list>
                                    <div class="mail-body" [innerHTML]="mail.body"></div>
                                    @if (mail.attachments.length) {
                                        <div class="mail-body">
                                            <mat-divider></mat-divider>
                                            <p fxLayout="row" fxLayoutAlign="start center">
                                                <strong>{{mail.attachments.length}} attachments</strong>
                                                <button mat-icon-button matTooltip="Download all attachments" matTooltipPosition="above">
                                                    <mat-icon>file_download</mat-icon>
                                                </button>
                                                <button mat-icon-button matTooltip="View all Images" matTooltipPosition="above">
                                                    <mat-icon>pageview</mat-icon>
                                                </button>
                                            </p>
                                            @for (attachment of mail.attachments; track attachment; let i = $index) {
                                                <div>
                                                    <img [src]="attachment" alt="attachment">
                                                    <h3>image-{{i + 1}}.jpg</h3>
                                                    <p fxLayout="row" fxLayoutAlign="start center">
                                                        <span>457K</span>
                                                        <button mat-icon-button>
                                                            <mat-icon>file_download</mat-icon>
                                                        </button>
                                                        <button mat-icon-button>
                                                            <mat-icon>pageview</mat-icon>
                                                        </button>
                                                    </p>
                                                </div>
                                            }                                           
                                        </div>
                                    }                                    
                                </div>
                            }
                            @if (!mail && !newMail) {
                                <div fxLayout="column" fxLayoutAlign="center center" class="h-100 empty">
                                    <mat-icon>mail_outline</mat-icon>            
                                    <p>Select a mail to read</p>
                                </div> 
                            }
                            @if (newMail) {
                                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="mail-body"> 
                                    <mat-form-field class="w-100">
                                        <mat-label>To</mat-label>
                                        <input matInput formControlName="to">
                                    </mat-form-field> 
                                    <mat-form-field class="w-100">
                                        <mat-label>Cc/Bcc</mat-label>
                                        <input matInput formControlName="cc">
                                    </mat-form-field> 
                                    <mat-form-field class="w-100">
                                        <mat-label>Subject</mat-label>
                                        <input matInput formControlName="subject">
                                    </mat-form-field>                          
                                    <quill-editor formControlName="message"></quill-editor>                            
                                    <div fxLayout="row" fxLayoutAlign="space-between center">
                                        <button mat-raised-button (click)="newMail = false;" type="button">Cancel</button>
                                        <button mat-raised-button color="primary" type="submit">Send</button>
                                    </div> 
                                </form> 
                            }                          
                        </ng-scrollbar>
                    </div>
                </div>            
            </mat-sidenav-container>
        </mat-card>
    </div>
</div>