@import "../../theme/styles/variables";
$mailbox-sidenav-width: 350px;

.mailbox{ 
    .search{
        margin: 0 14px;
        width: 100%;
        border: none;
        border-radius: 2px;
        padding: 6px;
        outline: none;
    }
    .mail-body{
        padding: 16px;
        quill-editor {
            width: 100%;
        }
    }   
    .empty{
        mat-icon{
            font-size: 220px;
            height: 220px;
            width: 220px;
            opacity: 0.4;
        }
        p{
            font-size: 18px;
            opacity: 0.8;
        }
    }    
}
.mailbox-sidenav {
    width: $mailbox-sidenav-width;
    border-right: 1px solid transparent;
    overflow: hidden;
    .mat-drawer-inner-container {
        overflow: hidden;
    }
}
.mailbox-content{
    height: calc(100vh - (#{$toolbar-height} + #{$inner-sidenav-content-padding}*2 + 186px));
    .mat-line{
        white-space: unset;
    }
    .subject{
        font-weight: 500;
    }
}
.mailbox-sidenav-list {
    height: calc(100vh - (#{$toolbar-height} + #{$inner-sidenav-content-padding}*2 + 186px));
    .mat-mdc-list-item {
        width: $mailbox-sidenav-width; 
        &.unread {
            .mat-mdc-list-item-title,
            .mat-mdc-list-item-line {
                font-weight: bold; 
            }           
        }
    }   
    .selected{
        background: rgba(0,0,0,.15);
    }
}

@media (max-width: 575px) { 
    .mailbox-sidenav{
        width: 280px;
    }
}