@for (menu of parentMenu; track menu.id) { 
    <div class="menu-item">
        @if (menu.routerLink && !menu.hasSubMenu) {
            <a mat-button fxLayout="row" [fxLayoutAlign]="(settings.menuType=='default') ? 'start center' : 'center center'"
                [routerLink]="[menu.routerLink]" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
                [matTooltip]="menu.title" matTooltipPosition="after" [matTooltipDisabled]="(settings.menuType=='mini') ? 'false' : 'true'"
                (click)="onClick(menu)" [id]="'menu-item-'+menu.id">
                <mat-icon class="menu-icon">{{menu.icon}}</mat-icon>
                <span class="menu-title">{{menu.title}}</span>
            </a>
        }
        @if (menu.href && !menu.subMenu) {
            <a mat-button fxLayout="row" [fxLayoutAlign]="(settings.menuType=='default') ? 'start center' : 'center center'"
                [attr.href]="menu.href || ''" [attr.target]="menu.target || ''"
                [matTooltip]="menu.title" matTooltipPosition="after" [matTooltipDisabled]="(settings.menuType=='mini') ? 'false' : 'true'"
                (click)="onClick(menu)" [id]="'menu-item-'+menu.id">
                <mat-icon class="menu-icon">{{menu.icon}}</mat-icon>
                <span class="menu-title">{{menu.title}}</span>
            </a>
        }
        @if (menu.hasSubMenu) {
            <a mat-button fxLayout="row" [fxLayoutAlign]="(settings.menuType=='default') ? 'start center' : 'center center'"
                [matTooltip]="menu.title" matTooltipPosition="after" [matTooltipDisabled]="(settings.menuType=='mini') ? 'false' : 'true'"
                (click)="onClick(menu)" [id]="'menu-item-'+menu.id">
                <mat-icon class="menu-icon">{{menu.icon}}</mat-icon>
                <span class="menu-title">{{menu.title}}</span>
                <mat-icon class="menu-expand-icon transition-2">arrow_drop_down</mat-icon>
            </a>
            <div class="sub-menu" [id]="'sub-menu-'+menu.id">
                <app-vertical-menu [menuItems]="menuItems" [menuParentId]="menu.id"></app-vertical-menu>
            </div>
        } 
    </div>
}